.wrapper {
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    /* background:  url('./pages/img/motherboard-small.jpg'); */
    /* background-size: cover; */
}

.header-text-wrapper {
    width: 100%;
}

.cat {
    height: 300px;
    width: 300px;
    margin: auto;
    background-image: url('./pages/img/cat-programmer.gif');
    background-size: cover;
}

.desc {
    text-align: center;
    color: white;
}

.wrapper-projects {
    /* display: flex;
    justify-content: center; */
}